@import "../theme.scss";

.Page {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100vh;
}

.Main {
    display: flex;
    padding: 56px 0 0 0;
    margin: 0;
    width: 100%;
    flex: 1 0 auto;

    .Nav {
        width: 255px;

        .Link {
            text-decoration: none;

            &.LinkActive {
                font-weight: bold;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .Content {
        flex: 1 0 auto;
    }
}

.VerticalCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.Inverse {
    background-color: $color-paper-inverse;
    color: $color-text-inverse;
}
