.CustomInsight {
    // border: 1px solid red;
    height: 100%;
    display: flex;

    @media (max-width: 1280px) {
        flex-direction: column;
    }

    .MetricSwitcher {
        display: flex;
        flex-wrap: wrap;
        align-self: flex-start;
        padding: 20px;
        // border: 1px solid green;
        max-width: 250px;
        text-align: left;

        @media (max-width: 1280px) {
            max-width: none;
        }

        label {
            width: 100%;
            margin-bottom: 8px;
            cursor: pointer;

            @media (max-width: 1280px) {
                width: 50%;
            }

            @media (max-width: 970px) {
                width: 100%;
            }

            span {
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 12px;
                white-space: nowrap;
            }

            input:checked ~ span {
                font-weight: bold;
            }
        }
    }

    .Insight {
        // border: 1px solid blue;
        flex: 1 0 auto;
    }
}
